@import "base/variables";
@import "base/mixins";
@import "base/extend";
@import "base/mediaqueries";

/*estilos para todos los html*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(135, 154, 238);
    position: relative;
    padding-bottom: 3rem;
    min-height: 100vh;
    header {
        background-image: url(../img/header.webp);
        h1 {
            text-align: center;
            text-decoration: underline;
            padding-top: $medida-principal;
            font-size: 60px;
            font-family: 'Bebas Neue', cursive;
        }
        nav {
            @include spaces (0px 10px, 5px);
            ul {
                display: flex;
                justify-content: space-evenly;
                li {
                    background-repeat: no-repeat;
                    margin: $medida-principal;
                    padding-bottom: $medida-principal;
                    font-family: Georgia, 'Times New Roman', Times, serif;
                    list-style-type: none;
                    font-size: 1.2rem;
                    &:hover {
                        color: grey;
                    }
                    a {
                        text-decoration: none;
                        color: black;
                        &:hover {
                            color: grey;
                        }
                    }
                }
            }
        }
    }
    main{
        h2 {
            color: rgb(12, 53, 107);
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin: 20px;
            text-decoration: underline;
        }
        p {
            margin: 13px;
            font-size: $medida-principal;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        img {
            margin: 50px;
        }
    }
    footer {
        background-image: url(../img/header.webp);
        position: absolute;
        bottom: 0;
        width: 100%;
        h3 {
            @include spaces (10px, 10px);
        }
    }
}
/*estilos index*/
.mainIndex {
    display: grid;
    .container {
        align-items: start;
        .pUno {
            grid-area: pUno
        }
        .pDos {
            grid-area: pDos;
        }
    }
    .contenedorDosIndex {
        align-items: end;
        justify-content: center;
        .fotoUnoIndex {
            width: 30rem;
            grid-area: img;
            @extend %boxShadow;
        }
        .fotoDosIndex{
            @extend %boxShadow;
        }
    }
}

/*estilos discografía*/
.mainDiscografia {
    margin: 10px;
    .tituloDiscografia {
        text-align: end;
    }
    .sectionDiscografia {
        display: grid;
        
        .divCaravana {
            @extend %divsMusica;
            &:hover {
                transform: scale(1.05);
            }
        }
        
        .divOscuroExtasis {
            @extend %divsMusica;
            &:hover {
                transform: scale(1.05);
            }
        }
        
        .divArrancarmelo {
            @extend %divsMusica;
            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

/*estilos shows*/
.tituloShows {
    text-align: end;
}
.h2Tour {
    text-align: center;
    margin-bottom: -20px;
    color: rgb(47, 55, 65);
}
.padreImgShows {
    display: grid;
    .imgShows {
        justify-self: center;
        @extend %boxShadow;
    }
}
.padreShowsLista {
    display: grid;
    margin: 2.5rem;
    .showsLista {
        font-family: Georgia, 'Times New Roman', Times, serif;
        justify-self: center;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}

/*estilos de galeria*/

.contenedorImagenes {
    display: grid;    
}

.imgBailando {
    grid-area: bailando;
    @extend %boxShadow;
    &:hover {
        transform: scale(1.1);
    }
}


.imgMdp {
    grid-area: mdp;
    @extend %boxShadow;
    &:hover {
        transform: scale(1.1);
    }
}

.imgQuintoEscalon {
    grid-area: quinto;
    @extend %boxShadow;
    &:hover {
        transform: scale(1.1);
    }
}

.imgLollaVeintidos {
    grid-area: lollaVeintidos;
    @extend %boxShadow;
    &:hover {
        transform: scale(1.1);
    }
}

.imgRedBull {
    grid-area: redBull;
    @extend %boxShadow;
    &:hover {
        transform: scale(1.1);
    }
}

.imgLollaDiecinueve {
    grid-area: lollaDiecinueve;
    @extend %boxShadow;
    &:hover {
        transform: scale(1.1);
    }
}

/*contactanos*/
.bodyContactanos {
    overflow: hidden;
    .h2Contactanos {
        text-align: center;
    }
    .formulario {
        text-align: center;
        margin: 0px 150px;
    }
}