@media screen and (max-width:600px){
    footer{
        height: 2.7rem;
        h3{
            font-size: 1.2rem;
        }
    }
    /*index*/
    .mainIndex{
        .pUno{
            font-size: $medida-principal;
        }
        .pDos{
            font-size: $medida-principal;
        }
        .contenedorDosIndex{
            display: grid;
            .fotoUnoIndex{
                max-width: 300px;
                margin: 2rem 0rem;
                padding: 0rem;
                justify-self: center;
            }
            .fotoDosIndex{
                display: none;
            }
        }
    }
    /*galería*/
    .contenedorImagenes{
        grid-template-areas: "bailando"
                         "mdp"
                         "quinto"
                         "lollaVeintidos"
                         "redBull" 
                         "lollaDiecinueve";
        justify-content: center;
        .imgBailando{
            width: 80%;
        }
        .imgMdp{
            width: 80%;
        }
        .imgQuintoEscalon{
            width: 80%;
        }
        .imgLollaVeintidos{
            width: 80%;
        }
        .imgRedBull{
            width: 80%;
        }
        .imgLollaDiecinueve{
            width: 80%;
        }
    }
}

@media screen and (min-width:600px) {
    footer{
        height: 2.7rem;
        h3{
            font-size: 1.3rem;
        }
    }
    /*index*/
    .mainIndex {
        padding: 1em;
        .container {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 0.2fr 1fr 1fr; 
            gap: 0px 0px 0px;
            grid-template-areas:
                "titulo titulo titulo"
                "pUno pUno imgUno"
                "pDos pDos imgDos";
            .tituloIndex {
                grid-area: titulo;
                font-size: 2rem;
            }
            .pUno {
                grid-area: pUno;
            }
            .pDos {
                grid-area: pDos;
            }
            .fotoUnoIndex {
                grid-area: imgUno;
            }
        
            .fotoDosIndex {
                grid-area: imgDos;
            }
        }
    }

     /*shows*/
    .tituloShows {
        text-align: center;
        font-size: 2rem;
    }
    .showsLista {
        font-size: 1.5rem;
    } 

    /*discografía*/
    .mainDiscografia{
        .tituloDiscografia {
            font-size: 2rem;
        }
        .pDiscografia {
            font-size: 1.2rem;
        }
    }

    /*galeria*/
    .tituloGaleria {
        font-size: 2rem;
    }
    .contenedorImagenes {
        grid-template-areas: "bailando mdp"
                             "quinto lollaVeintidos"
                             "redBull lollaDiecinueve";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        justify-content: center;
    }
}

@media screen and (min-width:1020px) {
    footer{
        height: 3rem;
        h3{
            font-size: 1.5rem;
        }
    }
    /*index*/
    .mainIndex {
        grid-template-columns: 1fr 1fr;
        .container {
            justify-content: start;
            font-size: 1.2rem;
        }
        .contenedorDosIndex {
            justify-content: end;
            .fotoDosIndex {
                display: block;
                height: 15rem;
                width: 30rem;
            }
        }
    }
    /*shows*/
    .tituloShows {
        text-align: start;
        margin-left: 2rem;
    }
    .imgShows {
        width: 25rem;
        margin-bottom: 0.5rem;
    }

    /*discografía*/
    .pDiscografia {
        font-size: 1.5rem;
    }
    .sectionDiscografia {
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*galeria*/

    .contenedorImagenes {
        grid-template-areas: "bailando mdp"
                             "quinto lollaVeintidos"
                             "redBull lollaDiecinueve";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr; 
        justify-content: center;
    }
}